.status__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 73px;

    &-avatar{
        margin: 10px 0 0 20px;

    }
    &-info {
        line-height: 20px;
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        h2 {
            font-size: 20px;
        }

        p::before{
            display: inline-block;
            content: "";
            width: 8px;
            opacity: 1;
            height: 8px;
            border-radius: 30px;
            margin-right: 4px;
            background-color: #d3d3d3;
        }

        &-online::before {
            background-color: #00c980 !important;
        }
    }

    &-icon {
        position: relative;
        font-size: 30px;
        margin: 15px 15px 0 0;
    }
}